$colorLetra:#900C3F;
$colorTitulo:#880b3b;
$colorPrincipal:#581845;
$colorBtn:#673F5B;
$btnColores:(
    link:$colorBtn,
    shop:$colorBtn,
    submit:$colorBtn,
); 
$btnProp:(
    pad: 5px,
    borde:0,
    radio:5px,
    textdec:none,
    text-align: center,
    text-decoration: none,
    negrita: 50px,
    );