* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
  color: #900C3F;
  /*Header*/
  /*Index*/
  /*Footer*/
  /* Contactenos*/
  /*Escuela*/
  /*Productos*/
  /*Nosotros*/
  /* Responsive*/ }
  * .titulo {
    padding-bottom: 10px;
    text-emphasis: circle;
    text-align: center;
    color: #880b3b; }
  * .btn, * .btn-link, * .btn-shop, * .btn-submit {
    padding: 5px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 50px; }
  * .btn-link {
    background-color: #673F5B; }
    * .btn-link:hover {
      color: #DAF7A6;
      font-weight: bold;
      background-color: #581845; }
  * .btn-shop {
    background-color: #673F5B; }
    * .btn-shop:hover {
      color: #DAF7A6;
      font-weight: bold;
      background-color: #581845; }
  * .btn-submit {
    background-color: #673F5B; }
    * .btn-submit:hover {
      color: #DAF7A6;
      font-weight: bold;
      background-color: #581845; }
  * .navbar {
    border-bottom: 2px solid #900C3F; }
    * .navbar ul li {
      padding: 0;
      list-style: none;
      text-align: center; }
      * .navbar ul li:hover {
        background-color: #fbc573;
        border-radius: 5px; }
      * .navbar ul li a {
        padding: 10px 10px;
        text-decoration: none;
        text-align: left;
        color: #900C3F; }
        * .navbar ul li a:hover {
          background-color: #fbc573;
          border-radius: 5px; }
  * .carousel-control-prev {
    background-color: #581845;
    width: auto; }
  * .carousel-control-next {
    background-color: #581845;
    width: auto; }
  * .nos {
    margin-top: 50px;
    display: flex;
    padding: 10px; }
  * .fraseFrida {
    font-style: italic; }
  * footer {
    border-top: 2px solid #581845;
    color: #581845; }
    * footer ul {
      list-style: none;
      margin: 10px; }
      * footer ul li {
        padding-left: 10px; }
    * footer a {
      text-decoration: none;
      color: #900C3F; }
      * footer a:hover {
        color: #581845;
        font-weight: bold; }
  * .contWhat {
    display: flex;
    align-self: center;
    padding: 5px;
    margin: 10px; }
    * .contWhat img {
      width: 3%; }
  * .contWhat h4 {
    align-self: center;
    margin: 5px; }
  * .contMail {
    display: flex;
    align-self: center;
    padding: 5px;
    margin: 10px; }
  * .contMail img {
    width: 3%; }
  * .contMail h4 {
    align-self: center;
    margin: 5px; }
  * .contForm {
    background-color: #d1bcca;
    border-radius: 10px;
    display: flex;
    justify-content: center; }
  * .contInfo label {
    padding: 3px; }
  * #coments {
    width: 85%;
    height: 70px;
    justify-content: center;
    margin: 10px; }
  * .contBot input:hover {
    background-color: #b49bac;
    border: none; }
  * .form-floating {
    width: 80%; }
  * .escuCont {
    margin: 10px;
    padding: 10px; }
  * .escuCont p {
    align-self: center;
    width: 100%;
    padding-left: 15px; }
  * .escuCont img {
    width: 100%; }
  * .escuMain h3 {
    margin: 10px;
    text-emphasis: circle;
    text-align: center; }
  * .escuForm {
    background-color: #d1bcca;
    width: 75%;
    border-radius: 10px; }
  * .prodCont h2 {
    text-align: left;
    margin-top: 40px; }
  * .btn, * .btn-link, * .btn-shop, * .btn-submit {
    background-color: #673F5B;
    color: #DAF7A6;
    border: none; }
  * .btn:hover, * .btn-link:hover, * .btn-shop:hover, * .btn-submit:hover {
    background-color: #836a7b; }
  * .prodMain h5 {
    text-align: center;
    font-style: italic; }
  * .prodMain h5 a {
    text-decoration: none;
    color: #581845;
    font-weight: bold; }
  @media (min-width: 992px) {
    * .nosMain p {
      margin: 20px; }
    * .nosPres {
      display: flex; }
    * .nosFutu {
      display: flex; }
    * .contInfo {
      display: flex;
      flex-direction: row; }
    * .indexImg1 {
      margin-left: 8%; }
    * .carouselProd1 {
      justify-content: space-evenly; } }
  @media (max-width: 992px) {
    * .contWhat img {
      width: 5%;
      margin-left: 5px; }
    * .contMail img {
      width: 5%;
      margin-left: 5px; } }
